.carousel {
	height: auto;
}

.card-book {
	&__container {
		width: 27rem;
	}
}

.card {
	a {
		text-decoration: none;
	}
	&__bestseller {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		background-color: var(--color-secondary);
		padding: 5px 2rem 5px 1rem;
		color: #fff;
		text-shadow: 0px 0px 9px var(--color-primary);
		font-weight: bold;
		clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
		font-size: 1.3rem;
	}
	&__container {
		border: 2px solid #e7e7e7;
		display: flex !important;
		justify-content: start;
		flex-direction: column;
		align-items: center;
		padding: 2rem 0rem;
		cursor: pointer;
		transition: all 0.2s;
		height: 49rem;
		position: relative;

		&:hover {
			border: 2px solid var(--color-dark);
		}
	}

	&__img {
		width: 18rem !important;
		height: 30rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		background-color: #ffff;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 80%;
		margin-top: 1.5rem;
	}

	&__title {
		font-family: 'Tajawal', sans-serif;
		font-size: 2.3rem;
		font-weight: 600;
		margin-bottom: 2rem;
		color: var(--color-dark);
	}

	&__author {
		color: var(--color-grey);
	}

	&__price {
		font-family: 'Tajawal', sans-serif;
		font-size: 2.3rem;
		color: var(--color-dark);
		flex: 1;
	}
}

// .swiper-slide {
// 	width: 30rem !important;
// }

.container-carousel {
	max-width: 80vw;
	margin: 0 auto;
	height: 100% !important;
}

.swiper-slide {
	margin-right: 0 !important;
}
.swiper-button-next,
.swiper-button-prev {
	background-color: var(--color-dark);
	width: 4rem !important;
	transition: all 0.2s;

	&:hover {
		background-color: var(--color-secondary);

		&::after {
			color: var(--color-dark);
			box-shadow: 0 2.5rem 2rem rgba(#1333, 0.2);
		}
	}

	&::after {
		font-size: 2rem !important;
		color: #fff;
		transition: all 0.2s;
	}
}

.swiper {
	overflow-y: hidden !important;
	overflow-x: hidden !important;
	overflow-y: visible !important;
	height: auto !important;
}

.swiper-pagination {
	// bottom: -2.5rem !important;
	display: none;
}

.swiper-scrollbar {
	display: none !important;
}

.card-category {
	background-image: linear-gradient(
		to right top,
		#dcdcdc,
		#e0e0e0,
		#e4e4e4,
		#e8e8e8,
		#ececec
	);

	width: 20rem;
	height: 15rem;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		transform: scale(1.1);
		box-shadow: 0px 1rem 5rem -3px rgba(#000, 0.2);
		background-image: linear-gradient(
			to right top,
			#00fffbb6,
			#5efffca1,
			#85fffdb7,
			#a3fffda8,
			#bdfffeab
		);
	}

	&__icon {
		color: #3f3f3f;
		font-size: 4rem;
		display: flex;
		align-items: center;
		margin-bottom: 1rem;
		transition: all 0.2s;
	}

	&__name {
		font-family: 'Tajawal', sans-serif;
	}

	&__action {
		color: var(--color-grey);
	}
}

.card-category:hover .card-category__icon {
	color: #00f8f4;
}
