.home-screen {
	padding-bottom: 15rem;

	&__title {
		margin-bottom: 2rem;
	}
}

.shop-screen {
	padding-top: 12rem;
	padding-bottom: 13rem;

	&__container {
		display: flex;
		gap: 3rem;
		justify-content: space-between;
		max-width: 90vw;
		margin: 0 auto;
	}
	&__books {
		flex-wrap: wrap;
		gap: 2rem;
		width: 114rem;
		//
	}

	&--noproducts {
		display: inline-block;
	}
	&--products {
		display: flex;
	}
}

.product-screen {
	padding-top: 12rem;
	padding-bottom: 10rem;

	&__loader {
		margin-top: 3rem;
	}

	&__stars {
		display: inline-block;
	}

	&__content {
		display: flex;
		gap: 7rem;
		margin-top: 3rem;
	}

	&__image {
		width: 25rem;
		overflow: hidden;
		box-shadow: var(--shadow-light);

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&__availability {
		display: inline-block;
		background-color: var(--color-grey-light);
		font-family: 'Tajawal', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--color-grey);
		font-size: 1.4rem;
		padding: 5px 3rem;
		margin-top: 3rem;
	}

	&__details {
		table {
			border-collapse: collapse;
			width: 100%;
			margin-top: 1rem;
		}

		th,
		td {
			border: 1px solid var(--color-grey-light);
			padding: 1rem;
			text-align: center;
		}
	}

	&__input {
		display: flex;
		justify-content: center;
	}

	&__heading {
		display: flex;
		flex-direction: column;
	}

	&__author {
		color: var(--color-grey);
		font-weight: 700;
	}

	&__price {
		font-family: 'Tajawal', sans-serif;
		color: var(--color-dark);
		font-size: 4rem;
		font-weight: 700;
	}

	&__description {
		margin-top: 4rem;
	}

	&__paragraph {
		&:not(&:last-child) {
			margin-bottom: 1.2rem;
		}
	}

	&__genres {
		color: var(--color-grey);
		display: flex;
		gap: 1.5rem;
		margin-top: 2rem;

		span {
			color: var(--color-primary);
			font-weight: 700;
		}
	}
}

.added-screen {
	padding-top: 12rem;
	position: relative;

	&__content {
		display: flex;
		justify-content: space-between;
		gap: 4rem;
	}

	&__contain {
		display: flex;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;
	}

	&__added {
		border: 1px solid var(--color-grey-light);
		padding: 2rem;
		flex: 1;
	}

	&__heading {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 7px;
	}

	&__check {
		color: #087e63;
		display: flex;
		justify-content: center;
		align-self: center;
	}

	&__image {
		width: 16rem;
		overflow: hidden;
		box-shadow: var(--shadow-light);

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&__details {
		border-collapse: collapse;
		height: 10rem;
		border: 1px solid var(--color-grey-light);
		th,
		td {
			border-bottom: 1px solid var(--color-grey-light);
			padding: 1rem;
			text-align: center;
		}
	}
}

.cart-screen {
	padding-top: 12rem;

	&__content {
		display: flex;
		justify-content: space-between;
		padding-bottom: 12rem;
	}

	&__table {
		border-collapse: collapse;
		width: 100%;
		margin-top: 1rem;
		border: 1px solid var(--color-grey-light);

		th,
		td {
			border-bottom: 1px solid var(--color-grey-light);
			text-align: center;
		}

		th {
			padding: 1rem;
		}

		td {
			padding: 1rem 4rem;
		}
	}

	&__book-info {
		display: flex;
		align-items: center;
		gap: 3rem;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	&__name {
		color: var(--color-dark);
		font-family: var(--font-heading);
		cursor: pointer;
	}

	&__author {
		color: var(--color-grey);
	}

	&__img {
		width: 10rem;

		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
		}
	}

	&__details {
		border-collapse: collapse;
		border: 1px solid var(--color-dark);
		height: 10rem;

		tr,
		td {
			border-bottom: 1px solid var(--color-dark);
			padding: 1rem;
			text-align: center;
		}
	}

	&__main {
		width: 110rem;
	}

	&__stepper {
		div {
			width: 7rem;
		}
	}

	&__headings {
	}

	&__delete {
		cursor: pointer;
		transition: all 0.2s;
		background-color: transparent;
		outline: none;
		border: none;
		font-size: 2rem;

		&:hover {
			color: var(--color-primary);
		}
	}
}

.signup-screen {
	padding: 12rem 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	// min-width: 100vh;
	min-height: 100vh;
}

.sigin-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	// min-width: 100vh;
	height: 100vh;
}
