.sidebar-categories {
	border: 2px solid #e7e7e7;

	min-width: 10rem;
	padding: 2rem;
	align-self: start;

	h3 {
		margin-bottom: 2.5rem;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__option {
		cursor: pointer;
		transition: all 0.2s;
		&:hover {
			color: var(--color-primary);
		}
	}
}
