.heading-primary {
	font-family: 'Tajawal', sans-serif;
	color: var(--color-dark);
	font-size: 5rem;
	font-weight: 700;
}

.min-heading {
	font-family: 'Tajawal', sans-serif;
	color: #ffff;
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
}

.heading-secondary {
	font-family: 'Tajawal', sans-serif;
	font-size: 3.5rem;
	color: var(--color-dark);
	font-weight: 700;
}

.heading-tertiary {
	font-family: var(--font-heading);
	font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	@media (max-width: $bp-large) {
		font-size: 2rem;
	}
}

.paragraph {
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
